USE [master]
GO
/****** Object:  Database [Pymes]    Script Date: 20/05/2017 6:17:50 ******/
CREATE DATABASE [Pymes] ON  PRIMARY 
( NAME = N'Pymes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Pymes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pymes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Pymes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pymes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pymes]
GO
USE [Pymes]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[IdArticulo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](255) NULL,
	[Precio] [decimal](18, 2) NULL,
	[CodigoDeBarra] [nchar](13) NULL,
	[IdArticuloFamilia] [int] NULL,
	[Stock] [int] NULL,
	[FechaAlta] [date] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[IdArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ArticulosFamilias]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticulosFamilias](
	[IdArticuloFamilia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](255) NULL,
 CONSTRAINT [PK_ArticulosFamilias] PRIMARY KEY CLUSTERED 
(
	[IdArticuloFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AuditoriasABM]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriasABM](
	[IdAuditoriaABM] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Tabla] [varchar](50) NULL,
	[IdRegistro] [int] NULL,
	[AccionABM] [char](1) NULL,
	[Observaciones] [varchar](100) NULL,
	[IdSession] [nchar](25) NULL,
 CONSTRAINT [PK_AuditoriasABM] PRIMARY KEY CLUSTERED 
(
	[IdAuditoriaABM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](30) NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](40) NOT NULL,
	[Cuit] [bigint] NULL,
	[IdTipoDocumento] [nvarchar](3) NULL,
	[NumeroDocumento] [bigint] NULL,
	[FechaNacimiento] [datetime] NULL,
	[IdSexo] [nchar](1) NULL,
	[IdEstadoCivil] [nchar](1) NULL,
	[Calle] [nvarchar](50) NULL,
	[NumeroCalle] [int] NULL,
	[Localidad] [nchar](255) NULL,
	[IdDepartamento] [int] NULL,
	[IdProvincia] [int] NULL,
	[IdPais] [int] NULL,
	[FechaIngreso] [datetime] NULL,
	[FechaEgreso] [datetime] NULL,
	[TieneTrabajo] [bit] NULL,
	[TieneAuto] [bit] NULL,
	[TieneCasa] [bit] NULL,
	[CreditoMaximo] [decimal](18, 2) NULL,
	[Mail] [nvarchar](50) NULL,
	[Clave] [nvarchar](15) NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contactos]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contactos](
	[IdContacto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](30) NOT NULL,
	[FechaNacimiento] [datetime] NULL,
	[Telefono] [int] NULL,
	[IdCategoria] [int] NULL,
 CONSTRAINT [PK_Contactos] PRIMARY KEY CLUSTERED 
(
	[IdContacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[IdDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Departamentos] PRIMARY KEY CLUSTERED 
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[IdEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [nchar](50) NOT NULL,
	[CantidadEmpleados] [int] NOT NULL,
	[FechaFundacion] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EstadosCiviles]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosCiviles](
	[IdEstadoCivil] [nchar](1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_EstadosCiviles] PRIMARY KEY CLUSTERED 
(
	[IdEstadoCivil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Grupos]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupos](
	[IdGrupo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NULL,
 CONSTRAINT [PK_Grupos] PRIMARY KEY CLUSTERED 
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GruposPermisos]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GruposPermisos](
	[IdGrupo] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
 CONSTRAINT [PK_PerfilesProcesos] PRIMARY KEY CLUSTERED 
(
	[IdGrupo] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IvasTipos]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IvasTipos](
	[IvaTipoId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](30) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_IvasTipos] PRIMARY KEY CLUSTERED 
(
	[IvaTipoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menus]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[IdMenu] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Url] [varchar](100) NULL,
	[IdMenuPadre] [int] NULL,
	[Orden] [tinyint] NULL,
	[IdPermiso] [int] NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[IdMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Paises]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[IdPais] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](30) NOT NULL,
	[Poblacion] [int] NULL,
	[Continente] [varchar](50) NULL,
 CONSTRAINT [PK_Paises] PRIMARY KEY CLUSTERED 
(
	[IdPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[IdPermisos] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Permisos] PRIMARY KEY CLUSTERED 
(
	[IdPermisos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Personas]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](50) NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[IdProvincia] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Provincias] PRIMARY KEY CLUSTERED 
(
	[IdProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sesiones]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesiones](
	[IdSesion] [varchar](25) NOT NULL,
	[Maquina] [varchar](50) NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [PK_Sesiones] PRIMARY KEY CLUSTERED 
(
	[IdSesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sexos]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sexos](
	[IdSexo] [nchar](1) NOT NULL,
	[Nombre] [nchar](10) NULL,
 CONSTRAINT [PK_Sexos] PRIMARY KEY CLUSTERED 
(
	[IdSexo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TelefonoXCliente]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonoXCliente](
	[IdTelefono] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Telefono] [nchar](50) NOT NULL,
 CONSTRAINT [PK_TelefonoXCliente] PRIMARY KEY CLUSTERED 
(
	[IdTelefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TiposDocumentos]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDocumentos](
	[IdTipoDocumento] [nvarchar](3) NOT NULL,
	[Nombre] [nchar](20) NULL,
 CONSTRAINT [PK_TipoDocumentos] PRIMARY KEY CLUSTERED 
(
	[IdTipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Clave] [varchar](50) NOT NULL,
	[Bloqueado] [bit] NULL,
	[IdRegistroRelacion] [int] NULL,
	[IdTablaRelacion] [varchar](50) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsuariosGrupos]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosGrupos](
	[IdUsuario] [int] NOT NULL,
	[IdGrupo] [int] NOT NULL,
 CONSTRAINT [PK_UsuariosGrupos] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NULL,
	[Fecha] [datetime] NULL,
	[Total] [numeric](18, 2) NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VentasDetalle]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentasDetalle](
	[IdVentaDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdArticulo] [int] NULL,
	[Cantidad] [nchar](10) NULL,
	[Precio] [numeric](18, 2) NULL,
 CONSTRAINT [PK_VentasDetalle] PRIMARY KEY CLUSTERED 
(
	[IdVentaDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Articulos] ON 

INSERT [dbo].[Articulos] ([IdArticulo], [Nombre], [Precio], [CodigoDeBarra], [IdArticuloFamilia], [stock], [FechaAlta], [Activo]) VALUES (1, N'Kit direct tv prepago 0.60mt', CAST(299.00 AS Decimal(18, 2)), N'0779815559001', 10, 329, CAST(N'2017-01-19' AS Date), 1)
INSERT [dbo].[Articulos] ([IdArticulo], [Nombre], [Precio], [CodigoDeBarra], [IdArticuloFamilia], [stock], [FechaAlta], [Activo]) VALUES (2, N'Kit direct tv prepago 0.90mt', CAST(349.00 AS Decimal(18, 2)), N'0779815559002', 10, 468, CAST(N'2017-01-31' AS Date), 1)
INSERT [dbo].[Articulos] ([IdArticulo], [Nombre], [Precio], [CodigoDeBarra], [IdArticuloFamilia], [stock], [FechaAlta], [Activo]) VALUES (3, N'Led 22" lg fhd 22mn42apm', CAST(2669.00 AS Decimal(18, 2)), N'0779808338808', 10, 536, CAST(N'2017-01-12' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[Articulos] OFF
SET IDENTITY_INSERT [dbo].[ArticulosFamilias] ON 

INSERT [dbo].[ArticulosFamilias] ([IdArticuloFamilia], [Nombre]) VALUES (1, N'Accesorios')
INSERT [dbo].[ArticulosFamilias] ([IdArticuloFamilia], [Nombre]) VALUES (2, N'Audio')
INSERT [dbo].[ArticulosFamilias] ([IdArticuloFamilia], [Nombre]) VALUES (3, N'Celulares')
SET IDENTITY_INSERT [dbo].[ArticulosFamilias] OFF
SET IDENTITY_INSERT [dbo].[AuditoriasABM] ON 

INSERT [dbo].[AuditoriasABM] ([IdAuditoriaABM], [Fecha], [Tabla], [IdRegistro], [AccionABM], [Observaciones], [IdSession]) VALUES (3, CAST(N'2001-11-15T00:00:00.000' AS DateTime), N'CONTACTOS', 1, N'M', NULL, NULL)
INSERT [dbo].[AuditoriasABM] ([IdAuditoriaABM], [Fecha], [Tabla], [IdRegistro], [AccionABM], [Observaciones], [IdSession]) VALUES (4, CAST(N'2012-04-20T00:00:00.000' AS DateTime), N'CLIENTES', 775, N'A', NULL, NULL)
INSERT [dbo].[AuditoriasABM] ([IdAuditoriaABM], [Fecha], [Tabla], [IdRegistro], [AccionABM], [Observaciones], [IdSession]) VALUES (5, CAST(N'2012-04-20T11:03:04.737' AS DateTime), N'CLIENTES', 782, N'A', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[AuditoriasABM] OFF
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IdCategoria], [Nombre]) VALUES (1, N'FAMILIA                       ')
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre]) VALUES (2, N'AMIGOS                        ')
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre]) VALUES (3, N'NEGOCIOS                      ')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
SET IDENTITY_INSERT [dbo].[Clientes] ON 

GO
SET IDENTITY_INSERT [dbo].[Clientes] OFF
SET IDENTITY_INSERT [dbo].[Contactos] ON 

INSERT [dbo].[Contactos] ([IdContacto], [Nombre], [FechaNacimiento], [Telefono], [IdCategoria]) VALUES (1, N'JUAREZ, JOAQUIN AVELINO       ', CAST(N'1951-03-04T00:00:00.000' AS DateTime), 152008363, 1)
INSERT [dbo].[Contactos] ([IdContacto], [Nombre], [FechaNacimiento], [Telefono], [IdCategoria]) VALUES (2, N'HEREDIA, CARLOS               ', CAST(N'1949-11-18T00:00:00.000' AS DateTime), 152078435, 3)
INSERT [dbo].[Contactos] ([IdContacto], [Nombre], [FechaNacimiento], [Telefono], [IdCategoria]) VALUES (3, N'FUENTES, DIEGO HERNAN         ', CAST(N'1972-12-11T00:00:00.000' AS DateTime), 152022796, 2)
GO
SET IDENTITY_INSERT [dbo].[Contactos] OFF
SET IDENTITY_INSERT [dbo].[Departamentos] ON 

INSERT [dbo].[Departamentos] ([IdDepartamento], [Nombre]) VALUES (37, N'Iruya')
INSERT [dbo].[Departamentos] ([IdDepartamento], [Nombre]) VALUES (38, N'La Caldera')
INSERT [dbo].[Departamentos] ([IdDepartamento], [Nombre]) VALUES (47, N'Rosario de la Frontera')
SET IDENTITY_INSERT [dbo].[Departamentos] OFF
SET IDENTITY_INSERT [dbo].[Empresas] ON 

INSERT [dbo].[Empresas] ([IdEmpresa], [RazonSocial], [CantidadEmpleados], [FechaFundacion]) VALUES (1, N'Santex Group                                      ', 300, CAST(N'1976-07-09T00:00:00' AS SmallDateTime))
INSERT [dbo].[Empresas] ([IdEmpresa], [RazonSocial], [CantidadEmpleados], [FechaFundacion]) VALUES (2, N'Compañia Sur                                      ', 256, CAST(N'1974-04-09T00:00:00' AS SmallDateTime))
INSERT [dbo].[Empresas] ([IdEmpresa], [RazonSocial], [CantidadEmpleados], [FechaFundacion]) VALUES (3, N'Santo Domingo                                     ', 120, CAST(N'1999-10-04T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Empresas] OFF
INSERT [dbo].[EstadosCiviles] ([IdEstadoCivil], [Nombre]) VALUES (N'C', N'Casado')
INSERT [dbo].[EstadosCiviles] ([IdEstadoCivil], [Nombre]) VALUES (N'D', N'Divorciado')
INSERT [dbo].[EstadosCiviles] ([IdEstadoCivil], [Nombre]) VALUES (N'S', N'Soltero')
SET IDENTITY_INSERT [dbo].[IvasTipos] ON 

INSERT [dbo].[IvasTipos] ([IvaTipoId], [Nombre]) VALUES (4, N'R.MONOTRIB                    ')
INSERT [dbo].[IvasTipos] ([IvaTipoId], [Nombre]) VALUES (5, N'NO RESPONS                    ')
INSERT [dbo].[IvasTipos] ([IvaTipoId], [Nombre]) VALUES (6, N'RESP_N_INS                    ')
SET IDENTITY_INSERT [dbo].[IvasTipos] OFF
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([IdMenu], [Nombre], [Url], [IdMenuPadre], [Orden], [IdPermiso]) VALUES (1, N'Sistema', NULL, NULL, 70, NULL)
INSERT [dbo].[Menus] ([IdMenu], [Nombre], [Url], [IdMenuPadre], [Orden], [IdPermiso]) VALUES (2, N'Ventas', N'', NULL, 10, NULL)
INSERT [dbo].[Menus] ([IdMenu], [Nombre], [Url], [IdMenuPadre], [Orden], [IdPermiso]) VALUES (3, N'Compras', NULL, NULL, 20, NULL)
SET IDENTITY_INSERT [dbo].[Menus] OFF
SET IDENTITY_INSERT [dbo].[Paises] ON 

INSERT [dbo].[Paises] ([IdPais], [Nombre], [Poblacion], [Continente]) VALUES (1, N'ARGENTINA                     ', 4400000, N'America del sur')
INSERT [dbo].[Paises] ([IdPais], [Nombre], [Poblacion], [Continente]) VALUES (4, N'Chile                         ', 20000000, N'America del sur')
INSERT [dbo].[Paises] ([IdPais], [Nombre], [Poblacion], [Continente]) VALUES (5, N'Uruguay                       ', 15000000, N'America del sur')
SET IDENTITY_INSERT [dbo].[Paises] OFF
SET IDENTITY_INSERT [dbo].[Personas] ON 

INSERT [dbo].[Personas] ([IdPersona], [Nombre]) VALUES (1, N'JUAN                                              ')
INSERT [dbo].[Personas] ([IdPersona], [Nombre]) VALUES (2, N'PEDRO                                             ')
INSERT [dbo].[Personas] ([IdPersona], [Nombre]) VALUES (3, N'MARIA                                             ')
SET IDENTITY_INSERT [dbo].[Personas] OFF
INSERT [dbo].[Provincias] ([IdProvincia], [Nombre]) VALUES (1, N'Salta')
INSERT [dbo].[Provincias] ([IdProvincia], [Nombre]) VALUES (2, N'Tucuman')
INSERT [dbo].[Provincias] ([IdProvincia], [Nombre]) VALUES (3, N'San Juan')
INSERT [dbo].[Sesiones] ([IdSesion], [Maquina], [FechaInicio], [FechaFin], [IdUsuario]) VALUES (N'1', N'LABSIS204', CAST(N'2011-06-07T10:13:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Sesiones] ([IdSesion], [Maquina], [FechaInicio], [FechaFin], [IdUsuario]) VALUES (N'2', N'LABSIS704', CAST(N'2011-09-15T00:00:00.000' AS DateTime), CAST(N'2011-09-15T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Sexos] ([IdSexo], [Nombre]) VALUES (N'F', N'Femenino  ')
INSERT [dbo].[Sexos] ([IdSexo], [Nombre]) VALUES (N'M', N'Masculino ')
INSERT [dbo].[TiposDocumentos] ([IdTipoDocumento], [Nombre]) VALUES (N'CF', N'cedula federal      ')
INSERT [dbo].[TiposDocumentos] ([IdTipoDocumento], [Nombre]) VALUES (N'CP', N'cedula provincial   ')
INSERT [dbo].[TiposDocumentos] ([IdTipoDocumento], [Nombre]) VALUES (N'DNI', N'documento nacional  ')
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Clave], [Bloqueado], [IdRegistroRelacion], [IdTablaRelacion]) VALUES (1, N'admin', N'admin123', NULL, NULL, NULL)
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Clave], [Bloqueado], [IdRegistroRelacion], [IdTablaRelacion]) VALUES (2, N'juan', N'juan123', NULL, NULL, NULL)
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Clave], [Bloqueado], [IdRegistroRelacion], [IdTablaRelacion]) VALUES (4, N'pedro', N'pedro123', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([IdVenta], [IdCliente], [Fecha], [Total]) VALUES (1, 1, CAST(N'2014-10-02T20:29:18.197' AS DateTime), CAST(3317.00 AS Numeric(18, 2)))
INSERT [dbo].[Ventas] ([IdVenta], [IdCliente], [Fecha], [Total]) VALUES (2, 2, CAST(N'2014-10-02T20:37:50.483' AS DateTime), CAST(25136.00 AS Numeric(18, 2)))
INSERT [dbo].[Ventas] ([IdVenta], [IdCliente], [Fecha], [Total]) VALUES (3, 3, CAST(N'2014-10-02T20:54:00.917' AS DateTime), CAST(23482.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[Ventas] OFF
SET IDENTITY_INSERT [dbo].[VentasDetalle] ON 

INSERT [dbo].[VentasDetalle] ([IdVentaDetalle], [IdVenta], [IdArticulo], [Cantidad], [Precio]) VALUES (1, 1, 1, N'1         ', CAST(299.00 AS Numeric(18, 2)))
INSERT [dbo].[VentasDetalle] ([IdVentaDetalle], [IdVenta], [IdArticulo], [Cantidad], [Precio]) VALUES (2, 1, 2, N'1         ', CAST(349.00 AS Numeric(18, 2)))
INSERT [dbo].[VentasDetalle] ([IdVentaDetalle], [IdVenta], [IdArticulo], [Cantidad], [Precio]) VALUES (3, 1, 3, N'1         ', CAST(2669.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[VentasDetalle] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_Contactos_Nombre]    Script Date: 20/05/2017 6:17:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Contactos_Nombre] ON [dbo].[Contactos]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departamentos]    Script Date: 20/05/2017 6:17:50 ******/
CREATE NONCLUSTERED INDEX [IX_Departamentos] ON [dbo].[Departamentos]
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Empresas]    Script Date: 20/05/2017 6:17:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Empresas] ON [dbo].[Empresas]
(
	[RazonSocial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_UsuariosNombre]    Script Date: 20/05/2017 6:17:50 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UK_UsuariosNombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Nombre]  DEFAULT ('') FOR [Nombre]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Departamentos] FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamentos] ([IdDepartamento])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Departamentos]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_EstadosCiviles] FOREIGN KEY([IdEstadoCivil])
REFERENCES [dbo].[EstadosCiviles] ([IdEstadoCivil])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_EstadosCiviles]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Paises] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Paises] ([IdPais])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Paises]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Sexos] FOREIGN KEY([IdSexo])
REFERENCES [dbo].[Sexos] ([IdSexo])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Sexos]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_TiposDocumentos] FOREIGN KEY([IdTipoDocumento])
REFERENCES [dbo].[TiposDocumentos] ([IdTipoDocumento])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_TiposDocumentos]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_ClienteId] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_ClienteId]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_UsuariosNombre] CHECK  ((len([nombre])>=(4)))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_UsuariosNombre]
GO
/****** Object:  StoredProcedure [dbo].[ClientePorId]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClientePorId]
	
	(
	@IdCliente int
	)
	
AS

select * from clientes where IdCliente = @IdCliente  
	
	RETURN



GO
/****** Object:  StoredProcedure [dbo].[ClientesContar]    Script Date: 20/05/2017 6:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClientesContar]
	
	(
	
	@CantidadDeClientes int = 0 OUTPUT 
	)
	
AS
	select @CantidadDeClientes = count(*) from clientes
	RETURN



GO
USE [master]
GO
